<section class="content-header">
  <div class="row">
    <div class="col-md-6">
      <h2>
        <%= link_to "#{@board.name}", edit_admin_board_path(@board) %>
        <small><small><small>Created on <%= @board.created_at.strftime('%b %d, %Y') %></small></small></small>
      </h2>
      <small><%= @board.description %></small>
    </div>
  </div>
  <div class="row">
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= link_to new_admin_board_list_path(@board) do %>
          <span class="label label-info pull-left">Add list</span>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= link_to new_admin_board_card_path(@board) do %>
          <span class="label label-info pull-left">Add card</span>
      <% end %>
    </div>

    <div class="col-md-3">
      <p>&nbsp;</p>
    </div>

    <div class="col-md-3">
      <%= link_to new_admin_board_member_path(@board) do %>
          <span class="label label-info pull-left">Add member</span>
      <% end %>
    </div>
  </div>
</section>

<section class="content">

  <!-- Main row-->
  <div class="row">
    <div class="col-md-9">
      <% @board.lists.each_slice(3) do |list_array| %>
          <div class="row">
            <% list_array.each do |list| %>
                <div class="col-md-4">
                  <div class="box box-success">
                    <div class="box-header with-border">
                      <h3 class="box-title"><%= link_to "#{list.title}", edit_admin_board_list_path(@board, list) %></h3>

                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Collapse/Expand"><i class="fa fa-folder-open" title="Collapse/Expand"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" title="Hide"><i class="fa fa-minus" title="Hide"></i></button>
                        <button type="button" class="btn btn-box-tool" title="Delete">
                          <%= link_to admin_board_list_path(@board, list), method: :delete, data: {confirm: 'Are you sure to remove this list?'} do %>
                              <i class="fa fa-times" title="Delete"></i>
                          <% end %>
                        </button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        <% list.cards.each do |card| %>
                            <li class="item">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="info-box">
                                    <span class="info-box-icon <%= due_date_today(card) %>">
                                      <span class="fa-stack fa-1x">
                                      <i class="fa fa-calendar-o fa-stack-1x"></i>
                                      <small class="fa-stack-1x calendar-text"><%= card.due_date.strftime('%b %d')%></small>
                                      </span>
                                    </span>
                                    <div class="info-box-content">
                                      <span class="info-box-text">
                                        <%= link_to "#{card.title}", edit_admin_board_card_path(@board, card) %>

                                        <%= link_to admin_board_card_path(@board, card), method: :delete, data: {confirm: 'Are you sure to remove this card?'} do %>
                                            <span class="label label-danger pull-right">Del</span>
                                        <% end %>
                                        <span class="pull-right">&nbsp;</span>
                                        <span class="label label-warning pull-right"><%= card.progress %>%</span>
                                        <span class="pull-right">&nbsp;</span>
                                        <progress value="<%= card.progress %>" max="100" class="pull-right" style="width: 50px;"></progress>
                                      </span>
                                      <small><span><%= card.description%></span></small>
                                      <ul class="list-group list-group-horizontal list-group-unbordered">
                                        <% card.users.each do |user| %>
                                            <li class="list-group-item"><%= gravatar_for(user, :size => 30) %></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                    <!-- /.info-box-content -->
                                  </div>
                                </div>
                              </div>
                            </li>
                        <% end %>
                        <!-- /.cards -->
                      </ul>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
      <div class="row">

      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Admin</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="users-list clearfix">
            <li>
              <%= gravatar_for(current_user) %>
              <span class="users-list-date"><small>Admin from <%= added_time(current_user, @board) %></small></span>
            </li>
            <% @members.each do |user| %>
                <% if user.id != current_user.id %>
                    <li>
                      <%= link_to admin_board_member_path(@board, user), method: :delete, data: {confirm: 'Are you sure to remove this member?'}, title: 'Click to remove this member' do %>
                          <%= gravatar_for(user) %>
                      <% end %>
                      <span class="users-list-date"><small>Joined on <%= added_time(user, @board) %></small></span>
                    </li>
                <% end %>
            <% end %>
          </ul>
          <!-- /.admin -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</section>
