<section class="content-header">
  <div class="row">
    <div class="col-md-6">
      <h2>
        <%= @board.name %>
        <small><small><small>Created on <%= @board.created_at.strftime('%b %d, %Y') %></small></small></small>
      </h2>
      <small><small><%= @board.description %></small></small>
    </div>
  </div>
  <div class="row">
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= link_to new_board_card_path(@board) do %>
          <span class="label label-info pull-left">Add card</span>
      <% end %>
    </div>
  </div>
</section>

<section class="content">

  <!-- Main row-->
  <div class="row">
    <div class="col-md-9">
      <% @board.lists.each_slice(3) do |list_array| %>
          <div class="row">
            <% list_array.each do |list| %>
                <div class="col-md-4">
                  <div class="box box-success">
                    <div class="box-header with-border">
                      <h3 class="box-title"><%= list.title %></h3>

                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Collapse/Expand"><i class="fa fa-folder-open" title="Collapse/Expand"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" title="Hide"><i class="fa fa-minus" title="Hide"></i></button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        <% list.cards.each do |card| %>
                            <li class="item">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="info-box">
                                    <span class="info-box-icon <%= due_date_today(card) %>">
                                      <span class="fa-stack fa-1x">
                                      <i class="fa fa-calendar-o fa-stack-1x"></i>
                                      <small class="fa-stack-1x calendar-text"><%= card.due_date.strftime('%b %d')%></small>
                                      </span>
                                    </span>
                                    <div class="info-box-content">
                                      <span class="info-box-text">
                                        <% if card.belong_to?(current_user)%>
                                          <%= link_to "#{card.title}", edit_board_card_path(@board, card) %>
                                            <span class="label label-warning pull-right">your card</span>
                                        <% else %>
                                          <%= card.title %>
                                        <% end %>
                                        <span class="pull-right">&nbsp;</span>
                                        <% if card.progress == 100 %>
                                          <span class="label label-success pull-right"><%= card.progress %>%</span>
                                          <span class="pull-right">&nbsp;</span>
                                        <% else %>
                                          <span class="label label-warning pull-right"><%= card.progress %>%</span>
                                          <span class="pull-right">&nbsp;</span>
                                          <progress value="<%= card.progress %>" max="100" class="pull-right" style="width: 50px;"></progress>
                                        <% end %>
                                      </span>
                                      <small><span><%= card.description%></span></small>
                                      <ul class="list-group list-group-horizontal list-group-unbordered">
                                        <% card.users.each do |user| %>
                                        <li class="list-group-item"><%= gravatar_for(user, :size => 20) %></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                    <!-- /.info-box-content -->
                                  </div>
                                </div>
                              </div>
                            </li>
                        <% end %>
                        <!-- /.cards -->
                      </ul>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
      <div class="row">

      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Admin</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="users-list clearfix">
            <li>
              <%= gravatar_for(@admin) %>
              <span class="users-list-date"><small>Admin from <%= added_time(@admin, @board) %></small></span>
            </li>
            <% @board.users.each do |user| %>
                <% if user.id != @admin.id %>
                    <li>
                      <%= gravatar_for(user) %>
                      <span class="users-list-date"><small>Joined on <%= added_time(user, @board) %></small></span>
                    </li>
                <% end %>
            <% end %>
          </ul>
          <!-- /.members -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!--script-->
</section>
